/fpga
/sdk
/petalinux
/kernel/out/lib

linux-xlnx-xilinx-v2018.3
u-boot-xlnx-xilinx-v2018.3
hdmi-modules-rel-v2018.3
.tmp_versions

*.si4project
*.tar
*.gz
*.rar
*.dblite
*.pyc

*.o
*.o.d
*.o.cmd
*.order
*.symvers
*.elf
*.ext3
*.ext4
*.ub
*.bin
*.dtb
*.bit

*.ko
*.cmd
*.mod.c

Image
uImage
gdb
/bootgen/fpga.bit
/kernel/linux-xlnx-xilinx-v2019.2
